@import url("https://fonts.googleapis.com/css2?family=Karla&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css");

body {
  overflow-x: hidden;
  overflow-y: hidden;
}

#pomodoro-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  max-width: 500px;
  margin: 0 auto;
  padding: 1.1rem;
  box-sizing: border-box;
}

#interval-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#timer-container {
  margin-top: 0.125rem;
}

#start-stop-reset-container {
  margin-top: 0.125rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#time-left {
  font-family: "Karla", sans-serif;
  font-size: 10.375rem;
  font-weight: 800;
  text-align: center;
  margin-bottom: 1rem;
  letter-spacing: -5px;
}

.interval-btn,
#start-stop-btn,
#reset-btn,
#settings-btn {
  border-radius: 50px;
  border: 1px solid black;
  color: black;
  font-family: "Rubik", sans-serif;
  font-size: 1rem;
  margin: 0.313rem;
  padding: 0.313rem 0.5rem;
  text-align: center;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out;
}

.interval-btn:hover,
#start-stop-btn:hover,
#reset-btn:hover,
#settings-btn:hover {
  background-color: black;
  color: white;
  border-color: black;
  cursor: pointer;
}

#settings-modal {
  font-family: Rubik;
  display: none;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  width:300px;
  font-family:Rubik;
  color:black;
  align-items: center;
  justify-content: center;
  background-color: #f7f6f3;
  padding: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.close-btn {
  color: #000;
  float: right;
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
}

.setting-option {
 
  align-item:center;
  font-family: Rubik;
  margin-bottom: 10px;
}

.setting-wrapper {
  text-align:center;
  flex-direction:column;
  display:flex;
  align-item:center;
}


.setting-option label {
  text-align:center;
  align-item:center;
  font-family: Rubik;
  margin-right: 10px;
}

#save-btn {
  margin-top:10px;
  width:60%;
  font-family:Rubik;
  background-color: black;
  color: #fff;
  border: none;
  border-radius: 100px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  
}


#save-btn:hover {
  background-color: grey;
  color:white;
  width:60
}

#option{
  font-family:Rubik;
  
}

select {
  // A reset of styles, including removing the default dropdown arrow
  appearance: none;
  // Additional resets for further consistency
  background-color: transparent;
  border: none;
  padding: 0 1em 0 0;
  margin: 10px;
  width: 60%;
  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
  line-height: inherit;
}